<ul ng-show="vm.data.inProgress == 1" class="main-menu ng-cloak">
    <li{% if app.request.attributes.get('_route') == 'rules' %} class="active"{% endif %}>
        <a href="{{ path('rules') }}">
            <img src="images/rules.svg" alt="">
            Taisyklės
        </a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'myTeam' %} class="active"{% endif %}>
        <a href="{{ path('myTeam') }}">
            <img src="images/team.svg" alt="">
            Komanda
        </a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'statistics' %} class="active"{% endif %}>
        <a href="{{ path('statistics') }}">
            <img src="images/stats.svg" alt="">
            Statistika
        </a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'questions' %} class="active"{% endif %}>
        <a href="{{ path('questions') }}">
            <img src="images/questions.svg" alt="">
            Klausimai
        </a>
    </li>
</ul>

{% if app.request.attributes.get('_route') != 'homepage' %}
    <a class="game-home-link" href="{{ path('homepage') }}">
        <img src="images/house.svg" alt="">Žaidimas</a>
{% endif %}