{% extends 'base.html.twig' %}

{% set appName = 'basic' %}
{% set pageClass = 'common-page' %}

{% block body %}
    <section class="container content" ng-controller="gameController as vm" ng-cloak>
        {% include 'partials/menu.html.twig' %}
        {% include 'partials/answer.prompt.html.twig' %}

        <img ng-hide="vm.dataLoaded" class="loading-spinner" src="{{ asset('images/loading-spin.svg') }}" alt="">

        <div class="question-container" id="question_{{ '{{ vm.activeQuestion.id }}' }}" ng-show="vm.dataLoaded">
            <h1 class="question">{{ '{{ vm.activeQuestion.text }}' }}</h1>
            <span class="question-time-left">
                Iki klausimo pabaigos liko: <span class="time">30min. : 25s.</span>
            </span>

            <form ng-submit="vm.submitAnswer()" class="questions-form">
                <ul class="questions-list">
                    <li ng-repeat="answer in vm.activeQuestion.answers" ng-class="{ selected: vm.isSelected(answer.id) }" ng-click="vm.selectAnswer(answer.id)">
                        <input id="answer_{{ '{{ answer.id }}' }}" name="answer" type="radio">
                        <label for="answer_{{ '{{ answer.id }}' }}">{{ '{{ answer.text }}' }}</label>
                    </li>
                </ul>
                <button>Atsakyti</button>
            </form>
        </div>
    </section>
{% endblock %}
