{% extends 'base.html.twig' %}

{% set appName = 'basicRegister' %}
{% set pageClass = 'common-page' %}

{% block title %}Registracija į žaidimą{% endblock %}

{% block body %}
    <section class="tablet-container content" ng-controller="RegisterCtrl as register" ng-submit="register.submit($event)" method="POST">
            <a href="/" class="logo">
                <img src="{{ asset('images/logo_large.svg') }}" alt="">
            </a>

            <legend>Įvesk savo vardo pirmą raidę ir pavardę. Į tavo @nfq.lt el. paštą  atsiųsime nuorodą su slaptažodžio sukūrimo forma.</legend>
            {% if error is defined %}
                <div class="error-msg"><img src="{{ asset('images/error.svg') }}" alt="">{{ error }}</div>
            {% endif %}

            <div class="common-form{% if error is defined %} has-error{% endif %}">
                {{ form_start(register_form) }}
                {{ form_widget(register_form) }}
                {{ form_end(register_form) }}
            </div>
    </section>
{% endblock %}
