{% extends 'base.html.twig' %}

{% set appName = 'basicPassChange' %}
{% set pageClass = 'common-page' %}

{% block title %}Nustatyk savo slaptažodį{% endblock %}

{% block body %}
    <section class="tablet-container content">
        <a href="" class="logo">
            <img src="{{ asset('images/logo_large.svg') }}" alt="">
        </a>

        <legend>Įrašyk naują slaptažodį ir jį išsaugok.</legend>
        {% if error is defined %}
            <div class="error-msg"><img src="{{ asset('images/error.svg') }}" alt="">{{ error }}</div>
        {% endif %}

        <div class="common-form{% if error is defined %} has-error{% endif %}">
            <form class="password-form" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                {{ form_widget(form) }}
                <span class="password-toggle-btn" onclick="togglePassword()">
                    <img id="show_password_ico" style="display: none;" src="{{ asset('images/show_password.svg') }}" alt="">
                    <img id="hide_password_ico" src="{{ asset('images/hidden_password.svg') }}" alt="">
                </span>
            </form>
        </div>

        <script>
            function togglePassword(){
                var el = document.getElementById('fos_user_change_password_form_new');

                if (el.type === 'password') {
                    el.type = 'text';
                    document.getElementById('show_password_ico').style.display = 'block';
                    document.getElementById('hide_password_ico').style.display = 'none';
                } else {
                    el.type = 'password';
                    document.getElementById('show_password_ico').style.display = 'none';
                    document.getElementById('hide_password_ico').style.display = 'block';
                }

            }
        </script>
    </section>
{% endblock %}
