{% extends 'base.html.twig' %}

{% set appName = 'basicPassChange' %}
{% set pageClass = 'common-page' %}

{% block title %}Nustatyk savo slaptažodį{% endblock %}

{% block body %}
    <section class="tablet-container content">
        <a href="" class="logo">
            <img src="{{ asset('images/logo_large.svg') }}" alt="">
        </a>

        <legend>Įrašyk naują slaptažodį ir jį išsaugok.</legend>
        {% if error is defined %}
            <div class="error-msg"><img src="{{ asset('images/error.svg') }}" alt="">{{ error }}</div>
        {% endif %}

        <div class="common-form{% if error is defined %} has-error{% endif %}">
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                {{ form_widget(form) }}
            </form>
        </div>
    </section>
{% endblock %}
