{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <input type="password" id="password" name="_password" required="required" />

        <input type="submit" id="_submit" name="_submit" value="PRISIJUNGTI" />
    </form>
    <a href="{{ path('fos_user_registration_register') }}">Registracija</a>
{% endblock fos_user_content %}
